mat-form-field {
    width: 45%;
    background-color: transparent;
}

mat-label{
    background-color: transparent;
}
input{
    display: inline;
}

img {
    height: auto;
    width: 33px;
    display: inline;
}

p {
    font-size: 17px;
    bottom: 3px;
    font-weight: 500;
    color: black;
    display: inline;
}

.boton-full {
    border: 2px solid #000000;
    border-radius: 3px;
    background: #000000;
    width: 20%;
    height: 55px;
    color: white;
    font-size: 16px;
    display: inline;
    margin-left: 10%;
}

.left {
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}