<div style="display: flex; margin-left: 10px;">
    <div style="justify-self: start;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menú">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div style="justify-self: center;"> <img src="../../assets/icons/employee.png" alt="Logo"></div>
    <div style="justify-self: end; display: flex;
   align-items: center; 
   justify-content: center;">
        <p> SII Code Challenge</p>
    </div>

</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span>Empleados</span>
    </button>
</mat-menu>

<div class="left">
    <form>
        <mat-form-field>
            <mat-label>ID de empleado</mat-label>
            <input type="tel" matInput [formControl]="idFormControl" [errorStateMatcher]="matcher"
                placeholder="Ejemplo: 1">
            <mat-error *ngIf="idFormControl.hasError('tel')">
                Por favor digita in ID correcto
            </mat-error>
        </mat-form-field>
        <button class="boton-full" (click)="buscar()">Buscar</button>
    </form>
    <br><br>
</div>

<table mat-table [dataSource]="respuestaList" class="mat-elevation-z8" [hidden]="!respuestaList">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- employee_name Column -->
    <ng-container matColumnDef="employee_name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>

    <!-- employee_age Column -->
    <ng-container matColumnDef="employee_age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
    </ng-container>

    <!-- employee_salary Column -->
    <ng-container matColumnDef="employee_salary">
        <th mat-header-cell *matHeaderCellDef> Salario </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_salary}} </td>
    </ng-container>

    <!-- profile_image Column -->
    <ng-container matColumnDef="profile_image">
        <th mat-header-cell *matHeaderCellDef> Imagen de perfil </th>
        <td mat-cell *matCellDef="let element"> {{element.profile_image}} </td>
    </ng-container>

    <!-- employee_anual_salary Column -->
    <ng-container matColumnDef="employee_anual_salary">
        <th mat-header-cell *matHeaderCellDef> Salario anual </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_anual_salary}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>